.hex {
    background-color: transparent;
    height: 200px;
    width: 150px;
    clip-path: polygon(50% 100%, 100% 75%, 100% 25%, 50% 0%, 0% 25%, 0% 75%);
    background-clip: padding-box;
    margin-right: 2px;
}

.row {
    display: flex;
    margin-top: -48px;
    margin-left: calc(var(--hex-offset) * var(--indent, 0));
}

:root {
    --hex-offset: 76px;
}

#board {
    min-width: 1000px;
    padding: 32px;
}

.hide {
    opacity: 0%;
}

.token {
    position: absolute;
    top: 100px;
    left: 100px;
    background-color: tan;
    width: 75px;
    height: 75px;
    border-radius: 999px;
    text-align: center;
    font-size: 28px;
}

.fishtoken {
    position: absolute;
    top: 100px;
    left: 100px;
    background-color: rgb(41, 92, 235);
    width: 50px;
    height: 50px;
    border-radius: 999px;
    text-align: center;
}